@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background-color: black;
}

.nosifer {
    font-family: 'Nosifer', sans-serif;
}

.galindo {
    font-family: 'Galindo', sans-serif;
}

