<div class="hero-section-container">
    <div class="image-holder">
        <img src="movie-poster.webp" alt="poster">
    </div>
    <div class="description">
        
        <p class="welcome-mgs">Dive into the world of cinema with <a routerLink="/home">MovieHub</a></p>

        <p class="signup-msg">Sign in to access your Watchlist<br>Save shows and movies to keep track of what you want to watch.</p>
        <div class="signup-container">
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Register</a>
        </div>
    </div>
</div>