<div class="register-container">
    <div class="img-holder">
        <img src="signup.jpg" alt="background image">
    </div>
    <div class="register">
        <h1>Register</h1>

        @if (errorMessage) {
            <p class="error">{{errorMessage}}</p>
        }

        <form class="form" #form="ngForm" (ngSubmit)="register(form)"
            [appMatchPasswords]="{ password: 'password', confirmPassword: 'rePassword' }">
            <div class="input-container">
                <label for="username">Username<span>*</span></label>
                <input type="text" id="username" name="username" placeholder="Username" ngModel #inputUsername="ngModel"
                    required minlength="3" />
            </div>

            @if (inputUsername?.touched) {
            <div>
                @if (inputUsername?.errors?.['required']) {
                <p class="error">
                    Username is required!
                </p>
                }

                @if (inputUsername?.errors?.['minlength']) {
                <p class="error">
                    Username must be at least 3 characters!
                </p>
                }
            </div>
            }

            <div class="input-container">
                <label for="email">Email<span>*</span></label>
                <input type="email" id="email" name="email" placeholder="example@abv.bg" ngModel #inputEmail="ngModel"
                    required appEmail />
            </div>

            @if (inputEmail?.touched) {
            <div>
                @if (inputEmail?.errors?.['required']) {
                <p class="error">
                    Email is required!
                </p>
                }

                @if (inputEmail?.errors?.['emailValidator']) {
                <p class="error">
                    {{'Email must be in format example@abv.bg!'}}
                </p>
                }
            </div>
            }

            <div class="input-container">
                <label for="password">Password<span>*</span></label>
                <input type="password" id="password" name="password" placeholder="password" ngModel
                    #inputPassword="ngModel" required minlength="6" />
            </div>

            @if (inputPassword?.touched) {
            <div>
                @if (inputPassword?.errors?.['required']) {
                <p class="error">
                    Password is required!
                </p>
                }

                @if (inputPassword?.errors?.['minlength']) {
                <p class="error">
                    Password must be at least 6 characters!
                </p>
                }
            </div>
            }

            <div class="input-container">
                <label for="rePassword">Repeat passwords<span>*</span></label>
                <input type="password" id="rePassword" name="rePassword" placeholder="Repeat password" ngModel
                    #inputRePassword="ngModel" required />
            </div>

            @if (form.errors?.['passwordsMismatch']) {
            <div>
                <p class="error">
                    Passwords do not match!
                </p>
            </div>
            }

            <button [disabled]="form.invalid"
                [style]="{backgroundColor: form.invalid ? 'grey' : 'green'}">Register</button>

        </form>
        <p>Alredy have an account? <a routerLink="/login">Login</a></p>
    </div>
</div>