<div class="register-container">
    <div class="img-holder">
        <img src="signup.jpg" alt="background image">
    </div>
    <div class="register">
        <h1>Register</h1>
        <div class="form">
            <div class="input-container">
                <label for="name">Name</label>
                <input type="text" id="name" placeholder="Name">
            </div>

            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" placeholder="Email">
            </div>

            <div class="input-container">
                <label for="password">Password</label>
                <input type="password" id="password" placeholder="password">
            </div>

            <div class="input-container">
                <label for="re-pass">Repeat password</label>
                <input type="password" id="re-pass" placeholder="Repeat password">
            </div>

            <input type="submit" value="Register">
        </div>
        <p>Alredy have an account? <a routerLink="/login">Login</a></p>
    </div>
</div>
