<div class="details-container">

    <div class="title-container">
        <p>{{movie.title}}</p>
    </div>

    <div class="poster-trailer-container">
        <div class="poster-holder">
            <img src="{{movie.image}}" alt="poster">
        </div>

        <div class="trailer-holder">
            <youtube-player 
            [videoId]="movie.trailer"
            [width]="756"
            [height]="414"
            class="youtube-video"
          ></youtube-player>

        </div>
    </div>

    <div class="description">
        <div class="genre-container">
            <ul>
                @for (genre of movie.genre; track $index) {
                <li>{{genre}}</li>
                }
            </ul>
        </div>

        <p>{{movie.description}}</p>
        <p>Director: {{movie.director}}</p>
        <p><span>IMDb</span> rating: {{movie.rating}} / 10 <i class="fa-solid fa-star"></i></p>
    </div>



    <!-- TODO comments -->

</div>