.details-container {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: auto;
    color: white;
    padding: 30px 0;
}

.title-container p {
    font-size: 2.5rem;
}

.poster-trailer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    justify-content: center;
}

.poster-trailer-container .poster-holder {
    flex: 0 0 25%;
    height: 414px;
    object-fit: fill;
}

.poster-trailer-container .trailer-holder {
    flex: 0 0 60%;
    height: 414px;
    border-radius: 40px;
    overflow: hidden;
}

.poster-holder img,
.trailer-holder img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.genre-container ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 20px;
}

.genre-container ul li {
    border: solid 1px white;
    padding: 5px 15px;
    border-radius: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0 0 70%;
}

.description p {
    font-size: 1.2rem;
}

.description p span {
    background-color: #f5c518;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
}

.description p i {
    color: #f5c518;
}

.descriptionAndBts {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: end;
}

.btns button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 0 15px 15px 15px;
    background-color: black;
    color: white;
    border: 2px solid rgb(180, 180, 180);
    font-size: 1.2rem;
    font-weight: 500;
}

.btns .edit:hover {
    background-color: rgb(185, 121, 0);
}

.btns .delete:hover {
    background-color: #FF3227;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px 0;
    width: 90%;
}

.comments-container h2 {
    font-size: 2rem;
    border-left: 10px solid #f5c518;
    padding-left: 10px;
    margin-bottom: 20px;
}

.comment-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
}

.author {
    font-size: 1.4rem;
}

p.author i {
    font-size: 1.4rem;
    padding-left: 5px;
    color: #f5c518;
}

.comment {
    font-size: 1.2rem;
    padding-left: 20px;
}

.bts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}

.bts-container button {
    border: none;
    padding: 8px 15px;
    border-radius: 15px;
    border: 2px solid white;
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    background-color: black;
}

.bts-container button:hover {
    background-color: green;
}

.write-comment {
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.input-container {
    flex: 0 0 calc(80% - 5px);
}

.input-container input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    height: 50px;
    background-color: rgb(253, 225, 189);
}

.input-container input:focus {
    outline: none;
}

.btns-comments {
    flex: 0 0 calc(20% - 5px);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
}

.btns-comments button {
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: black;
    color: white;
}

.btns-comments button.add:hover {
    background-color: green;
}

.btns-comments button.cancel:hover {
    background-color: #FF3227
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.update-delete {
    display: flex;
    gap: 10px;
}

.update-delete button{
    padding: 5px;
    font-size: 1.2rem;
    border: none;
    background-color: black;
    color: white;
}

.update-delete button:nth-of-type(1):hover {
    color: #f5c518;
}

.update-delete button:nth-of-type(2):hover {
    color: #FF3227;
}