<header>
    <div class="nav-container">
        <div class="logo-container">
            <a href=""><p><span>Movie</span>Hub</p></a>
        </div>
        <div class="main-fn-container">
            <ul>
                <li>
                    <a href="#">Home</a>
                    <a href="#">Catalog</a>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <div class="signup-container">
            <ul>
                <li>
                    <a href="#">Login</a>
                    <a href="#">Register</a>
                </li>
            </ul>
        </div>
    </div>  
</header>
