.catalog-container {
    background-color: black;
}

.card-container {
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 20px;
    margin: auto;
    height: 906px;
}

.card {
    flex: 0 0 18.5%;
    color: white;
    border: solid 2px #4e4e4e;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(36, 36, 36);
    border-radius: 0 20px 0 20px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    height: 384px;
}

.poster-holder {
    height: 290px;
}

.poster-holder img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: 0 10px 10px 10px;
}

.card p {
    font-weight: 500;
}

.card a {
    border: solid 2px #4e4e4e;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: black;
}

.card a:hover {
    border: solid 2px rgb(0, 0, 0);
    color: #FF3227;
}

.pagination-container {
    display: flex;
    max-width: 1280px;
    flex-wrap: wrap;
    gap: 5px;
    padding-bottom: 20px;
    justify-content: center;
    margin: auto;
}

.pagination-btn {
    padding: 5px 10px;
    font-size: 1.2rem;
    font-weight: 500;
    background-color: rgb(253, 232, 193);
    color: black;
    border-radius: 10px;
}