<div class="catalog-container">

    <div class="card-container">

        @for (movie of moviesCollection; track $index) {
        <div class="card">
            <div class="poster-holder">
                <img src="{{movie.img}}" alt="">
            </div>
            <p>{{movie.title}}</p>
            <a [routerLink]="movie._id">Details</a>
        </div>
        }
    </div>
    <div class="pagination-container">
        @for (page of paginationArray; track $index) {
            <button class="pagination-btn" (click)="onPageChange(page)">{{page}}</button>
        }
    </div>
</div>